fastapi==0.124.4
fastapi-cli==0.0.16
fastapi-cloud-cli==0.6.0
jieba==0.42.1
keybert==0.9.0
numpy==2.2.6
pydantic==2.12.5
pydantic_core==2.41.5
PySocks==1.7.1
python-dotenv==1.2.1
python-engineio==4.12.3
python-multipart==0.0.20
python-socketio==5.14.2
regex==2025.11.3
requests==2.32.5
sentence-transformers==5.2.0
sentencepiece==0.2.1
tokenizers==0.22.1
torch==2.9.1
transformers==4.57.3
urllib3==2.5.0
uvicorn==0.38.0
